<?xml version="1.0" encoding="UTF-8"?>
<opml version="2.0">
<head>
    
	<title>{{ pumukit2_info['title'] }}</title>
	<ownerName>{{ pumukit2_info['title'] }}</ownerName>
	<ownerEmail>{{ pumukit2_info['email'] }}</ownerEmail>
</head>
<body>
	<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/
         http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
  		
  		<responseDate>{{ "now"|date("Y-m-d\TH:i:s\Z") }}</responseDate>
  		
  		{% if verb == "Identify" %}
  			{% include 'PumukitOaiBundle:Index:identify.xml.twig' %}
  		{% elseif verb == "ListMetadataFormats" %}
  			{% include 'PumukitOaiBundle:Index:listMetadataFormats.xml.twig' %}
  		{% elseif verb == "ListSets" %}
  			{% include 'PumukitOaiBundle:Index:listSets.xml.twig' %}
  		{% elseif verb == "ListIdentifiers" %}
  			{% include 'PumukitOaiBundle:Index:listIdentifiers.xml.twig' %}
  		{% elseif verb == "ListRecords" %}
  			{% include 'PumukitOaiBundle:Index:listRecords.xml.twig' %}
  		{% elseif verb == "GetRecord" %}
  			{% include 'PumukitOaiBundle:Index:getRecord.xml.twig' %}
  		{% else %}
  			{% include 'PumukitOaiBundle:Index:error.xml.twig' %}
  		{% endif %}
  		
  	</OAI-PMH>
  
</body>
</opml>